<!DOCTYPE html>
<html>
      {{>includes}}
<body>
      <div class='main-content'>
        {{>headers}}
      <p> This web site is used for testing weather report!</p>
    <img class='portrait' src='/img/1.png'/>
    </div>
         {{>footer}}
</body>
</html>