<!DOCTYPE html>
<html>
      {{>includes}}
<body>
<div class='main-content'>
        {{>headers}}
                <form>
            <input placeholder="Location">
            <button>Search</button>

        </form>
        
    <p id='msg1'></p>
        <p id='msg2'>{{>report}}</p>
</div>
                 {{>footer}}
                         <script src='/js/app.js'></script>
</body>
</html>