<!DOCTYPE html>
<html>
      {{>includes}}
<body>
            <div class='main-content'>
        {{>headers}}

    <p>Report Details: {{query}} - (Latitude: {{latitude}} Longitude: {{longitude}})</p>
        <p>{{>report}}</p>
</div>

             {{>footer}}
</body>
</html>