<table>
  <tr>
    <th>City</th>
    <th>Description</th>
    <th>Temperature</th>
    <th>Feels Like</th>
  </tr>
  <tr>
    <td>{{city}}</td>
    <td>{{description}}</td>
    <td>{{temperature}}</td>
    <td>{{feelslike}}</td>
  </tr>

</table>